<?php

define('CONFIG', [

    // Configuration for the InCommon API connection
    'incontact' => [

        // Authentication URL
        'authentication-url' => 'https://api.incontact.com/InContactAuthorizationServer/Token',

        // Application Name as registered for the inContact API
        'application-name' => '',

        // Vendor Name for the inContact API Application
        'vendor-name' => '',

        // Business Unit number for the inContact API Application
        'business-unit' => '',

        // inContact User Name
        'username' => '',

        // inContact User Password
        'password' => ''

    ]

]);
